---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>

		<form name="contact" netlify>
			<p>
			  <label>Name <input type="text" name="name" /></label>
			</p>
			<p>
			  <label>Email <input type="email" name="email" /></label>
			</p>
			<p>
			  <button type="submit">Send</button>
			</p>
		  </form>

	</main>
</Layout>


