---
import Layout from '../layouts/Layout.astro';
import { Image, Picture } from '@astrojs/image/components';

---

<Layout title="Welcome to Astro.">
	<main>
		<header>
			<div class="top-bar">
				<svg width="124" height="20" viewBox="0 0 124 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.795455 2.66335V0.454545H12.4006V2.66335H7.90483V15H5.29119V2.66335H0.795455ZM17.7717 15.2131C16.6779 15.2131 15.7333 14.9858 14.9379 14.5312C14.1471 14.072 13.5387 13.4233 13.1126 12.5852C12.6864 11.7424 12.4734 10.7505 12.4734 9.60938C12.4734 8.48722 12.6864 7.50237 13.1126 6.65483C13.5434 5.80256 14.1448 5.13968 14.9165 4.66619C15.6883 4.18797 16.5951 3.94886 17.6367 3.94886C18.3091 3.94886 18.9435 4.05777 19.5401 4.27557C20.1415 4.48864 20.6718 4.82008 21.131 5.26989C21.5951 5.7197 21.9596 6.29261 22.2248 6.98864C22.4899 7.67992 22.6225 8.50379 22.6225 9.46023V10.2486H13.6808V8.51562H20.158C20.1533 8.0232 20.0468 7.58523 19.8384 7.2017C19.6301 6.81345 19.3389 6.50805 18.9648 6.28551C18.5955 6.06297 18.1647 5.9517 17.6722 5.9517C17.1467 5.9517 16.685 6.07955 16.2873 6.33523C15.8896 6.58617 15.5794 6.91761 15.3569 7.32955C15.1391 7.73674 15.0278 8.18419 15.0231 8.67188V10.1847C15.0231 10.8191 15.1391 11.3636 15.3711 11.8182C15.6031 12.268 15.9274 12.6136 16.3441 12.8551C16.7608 13.0919 17.2485 13.2102 17.8072 13.2102C18.1812 13.2102 18.5198 13.1581 18.8228 13.054C19.1258 12.9451 19.3886 12.7865 19.6112 12.5781C19.8337 12.3698 20.0018 12.1117 20.1154 11.804L22.516 12.0739C22.3645 12.7083 22.0756 13.2623 21.6495 13.7358C21.2281 14.2045 20.6883 14.5691 20.0302 14.8295C19.372 15.0852 18.6192 15.2131 17.7717 15.2131ZM29.5561 15.2131C28.4671 15.2131 27.532 14.974 26.7507 14.4957C25.9742 14.0175 25.3752 13.357 24.9538 12.5142C24.5372 11.6667 24.3288 10.6913 24.3288 9.58807C24.3288 8.48011 24.5419 7.50237 24.968 6.65483C25.3942 5.80256 25.9955 5.13968 26.772 4.66619C27.5533 4.18797 28.4766 3.94886 29.5419 3.94886C30.4273 3.94886 31.2109 4.11222 31.8928 4.43892C32.5793 4.76089 33.1262 5.2178 33.5334 5.80966C33.9406 6.39678 34.1726 7.08333 34.2294 7.86932H31.772C31.6726 7.34375 31.4358 6.90578 31.0618 6.5554C30.6925 6.20028 30.1977 6.02273 29.5774 6.02273C29.0518 6.02273 28.5902 6.16477 28.1925 6.44886C27.7947 6.72822 27.4846 7.13068 27.2621 7.65625C27.0443 8.18182 26.9354 8.81155 26.9354 9.54545C26.9354 10.2888 27.0443 10.928 27.2621 11.4631C27.4799 11.9934 27.7853 12.4029 28.1783 12.6918C28.576 12.9759 29.0424 13.1179 29.5774 13.1179C29.9562 13.1179 30.2947 13.0469 30.593 12.9048C30.8961 12.758 31.1494 12.5473 31.353 12.2727C31.5566 11.9981 31.6963 11.6643 31.772 11.2713H34.2294C34.1679 12.0431 33.9406 12.7273 33.5476 13.3239C33.1546 13.9157 32.6196 14.3797 31.9425 14.7159C31.2654 15.0473 30.4699 15.2131 29.5561 15.2131ZM38.9116 8.60795V15H36.3406V0.454545H38.8548V5.9446H38.9826C39.2383 5.32907 39.6336 4.84375 40.1687 4.48864C40.7085 4.12879 41.395 3.94886 42.2283 3.94886C42.9859 3.94886 43.6464 4.10748 44.2099 4.42472C44.7733 4.74195 45.2089 5.20597 45.5167 5.81676C45.8292 6.42756 45.9854 7.1733 45.9854 8.05398V15H43.4144V8.4517C43.4144 7.7178 43.225 7.14725 42.8462 6.74006C42.4722 6.32812 41.9466 6.12216 41.2695 6.12216C40.815 6.12216 40.4078 6.22159 40.0479 6.42045C39.6928 6.61458 39.4135 6.89631 39.2099 7.26562C39.011 7.63494 38.9116 8.08239 38.9116 8.60795Z" fill="#0EC0DD"/>
					<path d="M48.7198 15V0.454545H58.18V2.66335H51.3548V6.61222H57.69V8.82102H51.3548V12.7912H58.2369V15H48.7198ZM62.8569 4.09091L65.0586 8.1179L67.2958 4.09091H70.016L66.7276 9.54545L70.0728 15H67.3668L65.0586 11.0724L62.7717 15H60.0444L63.3683 9.54545L60.1296 4.09091H62.8569ZM72.0046 19.0909V4.09091H74.533V5.89489H74.6822C74.8147 5.62973 75.0018 5.34801 75.2433 5.04972C75.4847 4.74669 75.8114 4.48864 76.2234 4.27557C76.6353 4.05777 77.1609 3.94886 77.8001 3.94886C78.6429 3.94886 79.4028 4.1643 80.0799 4.59517C80.7617 5.02131 81.3015 5.65341 81.6992 6.49148C82.1017 7.32481 82.3029 8.34754 82.3029 9.55966C82.3029 10.7576 82.1064 11.7756 81.7134 12.6136C81.3204 13.4517 80.7854 14.0909 80.1083 14.5312C79.4312 14.9716 78.6642 15.1918 77.8072 15.1918C77.1822 15.1918 76.6637 15.0876 76.2518 14.8793C75.8398 14.6709 75.5084 14.42 75.2575 14.1264C75.0112 13.8281 74.8195 13.5464 74.6822 13.2812H74.5756V19.0909H72.0046ZM74.5259 9.54545C74.5259 10.2509 74.6254 10.8688 74.8242 11.3991C75.0278 11.9295 75.319 12.3437 75.6978 12.642C76.0813 12.9356 76.5453 13.0824 77.0898 13.0824C77.658 13.0824 78.1339 12.9309 78.5174 12.6278C78.9009 12.3201 79.1897 11.901 79.3839 11.3707C79.5827 10.8357 79.6822 10.2273 79.6822 9.54545C79.6822 8.86837 79.5851 8.26705 79.391 7.74148C79.1969 7.21591 78.908 6.80398 78.5245 6.50568C78.141 6.20739 77.6628 6.05824 77.0898 6.05824C76.5406 6.05824 76.0742 6.20265 75.6907 6.49148C75.3072 6.7803 75.016 7.18513 74.8171 7.70597C74.623 8.2268 74.5259 8.83996 74.5259 9.54545ZM84.5046 15V4.09091H86.9975V5.90909H87.1112C87.31 5.27936 87.6509 4.79403 88.1339 4.45312C88.6216 4.10748 89.1779 3.93466 89.8029 3.93466C89.945 3.93466 90.1036 3.94176 90.2788 3.95597C90.4587 3.96544 90.6078 3.98201 90.7262 4.00568V6.37074C90.6173 6.33286 90.4445 6.29972 90.2077 6.27131C89.9757 6.23816 89.7508 6.22159 89.533 6.22159C89.0643 6.22159 88.6429 6.32339 88.2688 6.52699C87.8995 6.72585 87.6083 7.00284 87.3952 7.35795C87.1822 7.71307 87.0756 8.12263 87.0756 8.58665V15H84.5046ZM96.8146 15.2131C95.7209 15.2131 94.7763 14.9858 93.9808 14.5312C93.1901 14.072 92.5817 13.4233 92.1555 12.5852C91.7294 11.7424 91.5163 10.7505 91.5163 9.60938C91.5163 8.48722 91.7294 7.50237 92.1555 6.65483C92.5864 5.80256 93.1877 5.13968 93.9595 4.66619C94.7313 4.18797 95.638 3.94886 96.6797 3.94886C97.352 3.94886 97.9865 4.05777 98.5831 4.27557C99.1844 4.48864 99.7147 4.82008 100.174 5.26989C100.638 5.7197 101.003 6.29261 101.268 6.98864C101.533 7.67992 101.665 8.50379 101.665 9.46023V10.2486H92.7237V8.51562H99.201C99.1963 8.0232 99.0897 7.58523 98.8814 7.2017C98.6731 6.81345 98.3819 6.50805 98.0078 6.28551C97.6385 6.06297 97.2076 5.9517 96.7152 5.9517C96.1896 5.9517 95.728 6.07955 95.3303 6.33523C94.9325 6.58617 94.6224 6.91761 94.3999 7.32955C94.1821 7.73674 94.0708 8.18419 94.0661 8.67188V10.1847C94.0661 10.8191 94.1821 11.3636 94.4141 11.8182C94.6461 12.268 94.9704 12.6136 95.3871 12.8551C95.8037 13.0919 96.2914 13.2102 96.8501 13.2102C97.2242 13.2102 97.5627 13.1581 97.8658 13.054C98.1688 12.9451 98.4316 12.7865 98.6541 12.5781C98.8767 12.3698 99.0447 12.1117 99.1584 11.804L101.559 12.0739C101.407 12.7083 101.119 13.2623 100.692 13.7358C100.271 14.2045 99.7313 14.5691 99.0732 14.8295C98.415 15.0852 97.6622 15.2131 96.8146 15.2131ZM112.463 6.97443L110.119 7.23011C110.053 6.99337 109.937 6.77083 109.771 6.5625C109.61 6.35417 109.392 6.18608 109.118 6.05824C108.843 5.9304 108.507 5.86648 108.109 5.86648C107.574 5.86648 107.124 5.98248 106.76 6.21449C106.4 6.4465 106.222 6.74716 106.227 7.11648C106.222 7.43371 106.338 7.69176 106.575 7.89062C106.816 8.08949 107.214 8.25284 107.768 8.38068L109.629 8.77841C110.661 9.00095 111.428 9.35369 111.93 9.83665C112.437 10.3196 112.692 10.9517 112.697 11.733C112.692 12.4195 112.491 13.0256 112.093 13.5511C111.7 14.072 111.154 14.4792 110.453 14.7727C109.752 15.0663 108.947 15.2131 108.038 15.2131C106.703 15.2131 105.628 14.9337 104.814 14.375C103.999 13.8116 103.514 13.0279 103.358 12.0241L105.865 11.7827C105.978 12.2751 106.22 12.6468 106.589 12.8977C106.958 13.1487 107.439 13.2741 108.031 13.2741C108.642 13.2741 109.132 13.1487 109.501 12.8977C109.875 12.6468 110.062 12.3366 110.062 11.9673C110.062 11.6548 109.941 11.3968 109.7 11.1932C109.463 10.9896 109.094 10.8333 108.592 10.7244L106.731 10.3338C105.685 10.116 104.911 9.74905 104.409 9.23295C103.907 8.71212 103.658 8.05398 103.663 7.25852C103.658 6.58617 103.841 6.00379 104.21 5.51136C104.584 5.0142 105.102 4.63068 105.765 4.3608C106.433 4.08617 107.202 3.94886 108.074 3.94886C109.352 3.94886 110.358 4.22112 111.092 4.76562C111.831 5.31013 112.288 6.0464 112.463 6.97443ZM123.439 6.97443L121.096 7.23011C121.029 6.99337 120.913 6.77083 120.748 6.5625C120.587 6.35417 120.369 6.18608 120.094 6.05824C119.819 5.9304 119.483 5.86648 119.086 5.86648C118.551 5.86648 118.101 5.98248 117.736 6.21449C117.376 6.4465 117.199 6.74716 117.203 7.11648C117.199 7.43371 117.315 7.69176 117.551 7.89062C117.793 8.08949 118.191 8.25284 118.745 8.38068L120.605 8.77841C121.638 9.00095 122.405 9.35369 122.907 9.83665C123.413 10.3196 123.669 10.9517 123.674 11.733C123.669 12.4195 123.468 13.0256 123.07 13.5511C122.677 14.072 122.13 14.4792 121.429 14.7727C120.729 15.0663 119.924 15.2131 119.015 15.2131C117.679 15.2131 116.605 14.9337 115.79 14.375C114.976 13.8116 114.49 13.0279 114.334 12.0241L116.841 11.7827C116.955 12.2751 117.196 12.6468 117.566 12.8977C117.935 13.1487 118.416 13.2741 119.007 13.2741C119.618 13.2741 120.108 13.1487 120.478 12.8977C120.852 12.6468 121.039 12.3366 121.039 11.9673C121.039 11.6548 120.918 11.3968 120.676 11.1932C120.44 10.9896 120.07 10.8333 119.569 10.7244L117.708 10.3338C116.661 10.116 115.887 9.74905 115.385 9.23295C114.883 8.71212 114.635 8.05398 114.64 7.25852C114.635 6.58617 114.817 6.00379 115.186 5.51136C115.56 5.0142 116.079 4.63068 116.742 4.3608C117.409 4.08617 118.179 3.94886 119.05 3.94886C120.328 3.94886 121.335 4.22112 122.069 4.76562C122.807 5.31013 123.264 6.0464 123.439 6.97443Z" fill="white"/>
					</svg>
					
			<button>
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M3 7H21M3 12H21M3 17H21" stroke="#0EC0DD" stroke-width="1.5" stroke-linecap="round"/>
					</svg>
					
			</button>
			</div>

			<div class="welcome-message">
				<h3>Welcome to Tech<span class="bold">Express</span></h3>
				<h5>We build web/mobile apps that scale at affordable pricing</h5>
				<button class="primary">

					<svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_3_115)">
						<path d="M5.94573 1.33334V3.28071M11.7752 1.33334V3.28071M2.66666 5.93562H15.0543M15.4186 5.55264V11.0702C15.4186 13.0176 14.3256 14.3158 11.7752 14.3158H5.94573C3.39535 14.3158 2.30232 13.0176 2.30232 11.0702V5.55264C2.30232 3.60527 3.39535 2.30703 5.94573 2.30703H11.7752C14.3256 2.30703 15.4186 3.60527 15.4186 5.55264Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M11.5529 8.92808H11.5595M11.5529 10.8754H11.5595M8.85681 8.92808H8.8641M8.85681 10.8754H8.8641M6.15996 8.92808H6.16724M6.15996 10.8754H6.16724" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</g>
						<defs>
						<clipPath id="clip0_3_115">
						<rect width="17.4884" height="15.5789" fill="white" transform="translate(0.116272 0.0350952)"/>
						</clipPath>
						</defs>
						</svg>
						
					<span>Book a meeting </span>
					
					<svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.2823 3.88439L15.7054 7.82457L11.2823 11.7647M3.31783 7.82457H15.5815" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					</button>
			</div>
		</header>


		<section class="callout">
			<p>
				We are a software company
that build apps to scale 
with your business
			</p>
		</section>

		<section id="about">
			<div class="overlay"></div>
			<div class="content">
				<h3>About</h3>
			<p>
				We are an innovative software company, based in Accra, Ghana. We build software that scale with your business processes. 
			</p>

			</div>
			<div class="section-footer">
				<a href="">
					<svg width="50" height="38" viewBox="0 0 50 38" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="50" height="39" fill="black"/>
						<path d="M30.43 12.93L36.5 19L30.43 25.07M19.5 19H36.33" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						
					</a>
			</div>
		</section>


		<section id="services">
			<div class="section-image">
				<Image width={125} height={125} alt="services-abstract-image" src={'../../public/images/jesse-echevarria-FKs9bUFekHQ-unsplash.jpg'}/>
				
			</div>
			<div class="content">
				<h3>What we do</h3>
				<p>
					Our sole aim is to provide you with quality applications for your business. 
We use modern day cutting-edge technologies to design, develop and deploy your software.
				</p>
			</div>
		
			<div class="section-footer">
				<a href="">
					<svg width="50" height="39" viewBox="0 0 50 39" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="50" height="39" fill="#0EC0DD" fill-opacity="0.9"/>
						<path d="M27.43 13.93L33.5 20L27.43 26.07M16.5 20H33.33" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						
					</a>
			</div>
		</section>

		<section id="clientele">
			<h3>Current Clientele</h3>
			<div class="clients-logo">
				<div class="logo"></div>
				<div class="logo"></div>
				<div class="logo"></div>
			</div>
		</section>

<section id="book">
	<h5>
		Feel free to book a meeting with us, 
we offer 30 mins free consultation
	</h5>
	<button class="secondary">Book a meeting with us</button>
</section>

	</main>
</Layout>


