---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Astro Toolbox">

        <main>
          <h1>Submission Received!</h1>
          <p>Thank you for your feedback! Head back to the <a href="/">home page</a>.</p>
        </main>

</Layout>
