---
import Layout from "../layouts/Layout.astro"

---



<Layout title="8bytes Terms and Conditions">
    <main>
        <h1>TERMS AND CONDITIONS OF USE FOR 8BYTES WEBSITE</h1>

<h3>INTRODUCTION</h3>
Welcome to 8Bytes' website. These terms and conditions govern your use of our website. By accessing or using the website, you accept these terms and conditions in full. If you disagree with any part of these terms and conditions, do not use our website.
<p></p>

<h3>
INTELLECTUAL PROPERTY RIGHTS

</h3>
<p>
All intellectual property rights in the website and the material published on it are owned by 8Bytes or our licensors. You may not use any part of the website or the material on it for commercial purposes without our prior written consent.

</p>


<h3>WEBSITE USE</h3>
<p>
You agree to use the website only for lawful purposes and in a way that does not infringe the rights of any third party. You also agree to not use the website in any way that may damage or impair the website or its functionality.

</p>

<h3>
USER CONTENT

</h3>

<p>
You are responsible for any content you post or upload on our website. You warrant that any content you post or upload is accurate, not defamatory or obscene, and does not infringe the intellectual property rights of any third party.

</p>


<h3>
PRIVACY POLICY

</h3>
<p>
Please refer to our Privacy Policy for information on how we collect, use and protect your personal information.

</p>


<h3>
DISCLAIMERS


</h3>

<p>
While we make every effort to ensure that the information on our website is accurate and up-to-date, we do not guarantee its accuracy or completeness. We do not warrant that the website will be uninterrupted, error-free, or free from viruses or other harmful components.

</p>

<h3>
LIMITATION OF LIABILITY

</h3>

<p>
We will not be liable to you or any third party for any loss or damage arising out of your use of our website, whether in contract, tort (including negligence), or otherwise. This includes any loss of profits, loss of data, or any other indirect, consequential or incidental damages.

</p>

<h3>
LINKS TO THIRD PARTY WEBSITES

</h3>

<p>
Our website may contain links to third-party websites. We are not responsible for the content of these websites, and you use them at your own risk.

</p>

<h3>
CHANGES TO TERMS AND CONDITIONS

</h3>

<p>
We reserve the right to amend these terms and conditions at any time. Your continued use of the website after the changes have been made will be deemed as acceptance of the updated terms and conditions.

</p>

<h3>
GOVERNING LAW

</h3>

<p>
These terms and conditions shall be governed by and construed in accordance with the laws of Ghana, and any disputes relating to these terms and conditions shall be subject to the exclusive jurisdiction of the courts of Ghana.

</p>

<h3>
CONTACT US

</h3>
<p>
If you have any questions about these terms and conditions, please contact us at info@8bytes.com.

</p>






    </main>
</Layout>

<style>
    main {
        padding: 1rem;
        margin: 0 auto;
        width: 80%;
    }

    h3{
        font-size: 1.5rem;
        font-weight: 300;
        padding: 0 0 0.5rem 0;
    }

    p{
        font-size: 1.2rem;
        font-weight: 400;
        padding: 0 0 0.5rem 0;
    }
</style>