---
import BookButton from "./BookButton.astro";

---

<section id="book" >
	<h5>
		Feel free to book a meeting with us, 
we offer 30 mins free consultation
	</h5>
	
	<BookButton text="Book a meeting with us" px="5px" py="5px"/>

	<a class="telephone" href="phone:+233503422990"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0_3_249)">
		<path d="M14.6467 12.22C14.6467 12.46 14.5933 12.7066 14.48 12.9466C14.3667 13.1866 14.22 13.4133 14.0267 13.6266C13.7 13.9866 13.34 14.2466 12.9333 14.4133C12.5333 14.58 12.1 14.6666 11.6333 14.6666C10.9533 14.6666 10.2267 14.5066 9.46 14.18C8.69334 13.8533 7.92667 13.4133 7.16667 12.86C6.39207 12.2934 5.66113 11.6694 4.98 10.9933C4.30585 10.3147 3.68407 9.5859 3.12 8.81331C2.57334 8.05331 2.13334 7.29331 1.81334 6.53998C1.49334 5.77998 1.33334 5.05331 1.33334 4.35998C1.33334 3.90665 1.41334 3.47331 1.57334 3.07331C1.73334 2.66665 1.98667 2.29331 2.34 1.95998C2.76667 1.53998 3.23334 1.33331 3.72667 1.33331C3.91334 1.33331 4.1 1.37331 4.26667 1.45331C4.44 1.53331 4.59334 1.65331 4.71334 1.82665L6.26 4.00665C6.38 4.17331 6.46667 4.32665 6.52667 4.47331C6.58667 4.61331 6.62 4.75331 6.62 4.87998C6.62 5.03998 6.57334 5.19998 6.48 5.35331C6.39334 5.50665 6.26667 5.66665 6.10667 5.82665L5.6 6.35331C5.52667 6.42665 5.49334 6.51331 5.49334 6.61998C5.49334 6.67331 5.5 6.71998 5.51334 6.77331C5.53334 6.82665 5.55334 6.86665 5.56667 6.90665C5.68667 7.12665 5.89334 7.41331 6.18667 7.75998C6.48667 8.10665 6.80667 8.45998 7.15334 8.81331C7.51334 9.16665 7.86 9.49331 8.21334 9.79331C8.56 10.0866 8.84667 10.2866 9.07334 10.4066C9.10667 10.42 9.14667 10.44 9.19334 10.46C9.24667 10.48 9.3 10.4866 9.36 10.4866C9.47334 10.4866 9.56 10.4466 9.63334 10.3733L10.14 9.87331C10.3067 9.70665 10.4667 9.57998 10.62 9.49998C10.7733 9.40665 10.9267 9.35998 11.0933 9.35998C11.22 9.35998 11.3533 9.38665 11.5 9.44665C11.6467 9.50665 11.8 9.59331 11.9667 9.70665L14.1733 11.2733C14.3467 11.3933 14.4667 11.5333 14.54 11.7C14.6067 11.8666 14.6467 12.0333 14.6467 12.22Z" stroke="black" stroke-opacity="0.3" stroke-width="1.5" stroke-miterlimit="10"/>
		</g>
		<defs>
		<clipPath id="clip0_3_249">
		<rect width="16" height="16" fill="white"/>
		</clipPath>
		</defs>
		</svg>
		+233503422990</a>
</section>


<style>
section#book{
    padding:0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 200px;
	margin-top: 20px;
}

section#book h5{
font-size: 14px;
font-weight: 200;
}

section#book a.telephone{
	font-size: 20px;
	font-weight: 200;
	color: rgba(0, 0, 0);
}
</style>