<section class="callout">
    <p>
        We are a software company
that build apps to scale 
with your business
    </p>
</section>


<style>
    section.callout{
        margin: 30px 0;
    }
    
    p{
        font-size: 16px;
        color: rgba(0, 0, 0, 0.72);
    }
</style>