<section class="callout">
    <p>
        We are a software company
that build apps to scale 
with your business
    </p>
</section>


<style>
    p{
        font-size: 24px;
        color: teal;
    }
</style>