---
import type { Props } from "astro";
import BookButton from "./BookButton.astro";
import Counter from "./react/HintText";
import ResponsiveMenuBtn from "./ResponsiveMenuBtn.astro";

const {mainTitle, specialTitle, tagline, image} = Astro.props as Props

---

<header>
    <div class="top-bar">
        <svg width="35" height="30" viewBox="0 0 35 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.378 21.23C19.378 22.77 19.014 24.156 18.286 25.388C17.586 26.62 16.508 27.6 15.052 28.328C13.596 29.056 11.748 29.42 9.508 29.42C7.296 29.42 5.504 29.084 4.132 28.412C2.76 27.712 1.752 26.802 1.108 25.682C0.464 24.562 0.142 23.316 0.142 21.944C0.142 20.572 0.464 19.312 1.108 18.164C1.752 16.988 2.816 15.91 4.3 14.93C3.124 14.146 2.214 13.18 1.57 12.032C0.954 10.884 0.646 9.54 0.646 8C0.646 6.516 0.996 5.172 1.696 3.968C2.396 2.764 3.418 1.812 4.762 1.112C6.106 0.383998 7.716 0.0199976 9.592 0.0199976C11.608 0.0199976 13.302 0.355998 14.674 1.028C16.046 1.7 17.068 2.61 17.74 3.758C18.44 4.878 18.79 6.138 18.79 7.538C18.79 8.77 18.496 9.932 17.908 11.024C17.348 12.088 16.396 13.082 15.052 14.006C17.936 15.63 19.378 18.038 19.378 21.23ZM9.214 11.864L11.272 12.494C12.224 11.682 12.882 10.94 13.246 10.268C13.638 9.568 13.834 8.854 13.834 8.126C13.834 7.006 13.47 6.124 12.742 5.48C12.042 4.808 11.034 4.472 9.718 4.472C8.402 4.472 7.38 4.794 6.652 5.438C5.952 6.082 5.602 6.964 5.602 8.084C5.602 9.848 6.806 11.108 9.214 11.864ZM5.098 21.23C5.098 22.35 5.504 23.26 6.316 23.96C7.128 24.632 8.276 24.968 9.76 24.968C11.216 24.968 12.35 24.632 13.162 23.96C14.002 23.288 14.422 22.392 14.422 21.272C14.422 20.432 14.114 19.676 13.498 19.004C12.91 18.304 11.888 17.73 10.432 17.282L8.164 16.568C7.128 17.408 6.358 18.192 5.854 18.92C5.35 19.648 5.098 20.418 5.098 21.23ZM15.58 29V0.44H24.274C26.402 0.44 28.082 0.747999 29.314 1.364C30.574 1.98 31.47 2.848 32.002 3.968C32.562 5.088 32.842 6.404 32.842 7.916V9.092C32.842 11.304 31.89 12.998 29.986 14.174C31.33 14.706 32.352 15.476 33.052 16.484C33.752 17.492 34.102 18.696 34.102 20.096V21.272C34.102 22.812 33.822 24.17 33.262 25.346C32.702 26.494 31.778 27.39 30.49 28.034C29.202 28.678 27.48 29 25.324 29H15.58ZM24.274 5.06H20.62V12.2H24.274C25.394 12.2 26.234 11.948 26.794 11.444C27.382 10.912 27.676 10.198 27.676 9.302V7.916C27.676 7.02 27.382 6.32 26.794 5.816C26.234 5.312 25.394 5.06 24.274 5.06ZM25.324 16.82H20.62V24.38H25.324C26.5 24.38 27.396 24.1 28.012 23.54C28.628 22.98 28.936 22.224 28.936 21.272V19.886C28.936 18.934 28.628 18.192 28.012 17.66C27.396 17.1 26.5 16.82 25.324 16.82Z" fill="white"/>
            </svg>
            
            
  <ResponsiveMenuBtn/>
    </div>

    <div class="header-message">
        <h3>{mainTitle}<span class="bold">{specialTitle}</span></h3>

        <h5>{tagline}</h5>
        <BookButton text="Book a meeting with us" py="10px" px="10px"/>
    </div>


</header>


<style define:vars={{ image}}>



header{
    display:flex;
    flex-direction: column;
    padding: 20px;
    min-width: 100%;
    /* background: var(--backgroundImage); */
    background-image: var(--image);

    object-fit: cover;
    background-size: cover;
    min-height: 400px;
    line-height: 155%;
  
}
button{
    appearance: none;
    outline: none;
    border: 0;
    background-color: transparent;
}


header .header-message{
    color:white;
}

header .header-message h3{
    font-size: 36px;
    line-height: 1.25;
    font-weight: 300;
    padding-bottom: 10px;;

}

header .header-message h5{
    font-size: 24px;
    font-weight: 300;
    line-height: 1.;

}
</style>

