div.input-holder{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0;
    min-width: 100%;
}
div.input-holder label{
    font-size: 20px;
    font-weight: 200;
    width: 100%;
}

div.input-holder input{
    padding:10px 10px;
    min-width: 100%;

}

textarea#message{
    min-width: 100%;
}

button[type="submit"]{
    padding: 10px;
    min-width: 100%;
    appearance: none;
    outline: none;
    border: none;
    background-color: rgba(14, 192, 221, 0.82);
    text-transform: uppercase;
    font-weight: 200;
    margin:10px 0
}
