@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition: all 0.5s ease-in-out;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;;

}

body{
    min-width: 100%;
}

section{
    display: flex;;
    flex-direction: column;
    min-width: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

section:not(.callout){
    /* min-height: 300px; */
    /* padding-top:2rem; */
    line-height: 1.5;
    font-weight: 500;
    font-size: 20px;
    position: relative;
}


section .section-footer a{
    z-index: 4000;
    padding: 1rem;
    position: absolute;
    right:0;
    bottom: 0;;
   
}


section.callout{
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 300;
    font-size: 18px;

}

section .content{
    font-weight: 100;
    line-height: 1.25;
    font-weight: 300;
    font-size: 20px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 10px;
    
}


.telephone{
    font-size: 14px;
    font-weight: 100;;
    color:#6b6b6b;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

li a.menu-item{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

li a.menu-item:hover{
    color: #0ec0dd;
}

footer h6{
    font-weight: 400;
    padding: 5px;
}
/* utilities */
.bold{
    font-weight: 500;
    font-size: 24px;
}

.light-text{
    color: #fff;
}


.dark-background{
    background: rgba(0, 0, 0, 0.82);
}

.big-text{
    font-size: 18px;
    line-height: 1.5;
    font-weight: 200;
}